
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>My Project</title>
  </head>
  <body>


        <h3>YOLO v5</h3>

          <!-- <div class="stream">
            <video   autoplay   playsinline   muted  id="player"></video>
          </div> -->

          <img src="{{ url_for('video_feed') }}">





    <script>
      //var player = document.getElementById("player");
      //var handleSuccess = function (stream) {
      //  player.srcObject = stream;
      //};

      //navigator.mediaDevices.getUserMedia({ video: true }).then(handleSuccess);

    </script>
  </body>
</html>
